.default-square {
    background-color: blue;
    flex: 1;
}

.flex-container {
    display: flex;
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
}