.default-square {
    background-color: blue;
    flex: 1;
}

.filled-square {
    background-color: black;
}

.flex-container {
    display: flex;
    flex: 1;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}